# conda create -n server_llm python==3.10
# conda install -c conda-forge cchardet==2.1.7
--extra-index-url https://download.pytorch.org/whl/cu124
--extra-index-url https://pypi.nvidia.com/

anyio==4.9.0
black==25.1.0
boltons==24.0.0
boto3==1.38.30
botocore==1.38.30
Brotli==1.1.0
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
cmake==3.31.4
colorama==0.4.6
coloredlogs==15.0.1
cryptography==45.0.3
einops==0.8.1
environs==14.2.0
exceptiongroup==1.2.2
fastapi==0.115.12
filelock==3.17.0
fsspec==2024.12.0
gmpy2==2.2.1
h11==0.16.0
humanfriendly==10.0
humanize==4.12.3
idna==3.10
Jinja2==3.1.5
jmespath==1.0.1
jsonpatch==1.33
jsonpointer==3.0.0
MarkupSafe==3.0.2
marshmallow==4.0.0
mpmath==1.3.0
multiprocessing-logging==0.3.4
networkx==3.1
ninja==1.11.1.3
numpy==1.26.4
packaging==24.2
pip
pluggy==1.5.0
plumbum==1.9.0
protobuf==4.25
pycparser==2.22
pydantic==2.7.0
pyOpenSSL==25.1.0
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
PyYAML==6.0.2
pyzmq==26.4.0
regex==2024.11.6
requests==2.32.3
rpyc==6.0.2
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.8
s3transfer==0.13.0
sentencepiece==0.2.0
setuptools==75.8.0
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
toolz==1.0.0
torch==2.5.1
torchvision==0.20.1
torchaudio==2.5.1
torchao==0.8.0
tqdm==4.65.0
transformers==4.51.3
triton-windows==3.1.0.post17
tokenizers==0.21.1
urllib3==1.26.16
uvicorn==0.19.0
# uvloop==0.17.0
wheel==0.40.0
zstandard==0.23.0
safetensors==0.4.5
Pillow==10.4.0
tiktoken==0.7.0
matplotlib==3.8.2
psutil==5.9.4
prometheus_client==0.20.0
# cchardet==2.1.7
ujson==5.10.0
frozendict==2.4.6
atomics==1.0.3
easydict==1.13
gunicorn==23.0.0
# flashinfer-python==0.2.4
# sgl-kernel==0.3.7.post1
httpx==0.28.1
librosa==0.10.2
cuda_bindings==12.9.0
orjson==3.11.2
setproctitle==1.3.6
websockets
partial-json-parser
tornado
interegular
rich
numexpr

# 手动扩大 Windows 的虚拟内存。
# 按 Win + S，搜索 “查看高级系统设置” 并打开。
# 点击 “高级” 选项卡 -> “性能” 栏的 “设置”。
# 点击 “高级” 选项卡 -> “虚拟内存” 栏的 “更改”。
# 取消勾选 “自动管理所有驱动器的分页文件大小”。
# 选择你的 C盘（或者空间最大的那个SSD盘）。
# 选择 “自定义大小”：
# 初始大小：填写 32000 (即 32GB)
# 最大大小：填写 64000 (即 64GB)
# 点击 “设置” 按钮（非常重要，不点无效），然后一路点击确定。
# 重启电脑。